* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

#data-container {
  width: 50vw;
  height: fit-content;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}